{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if user.is_authenticated %}
        <div class="container mb-4 p-2">
            <h2 id="posts_view_head"></h2>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input data-name="post" type="submit" value="Post!" class="btn btn-sm btn-outline-dark rounded-pill my-sm-2 mx-2 px-3">
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
