{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if user.is_authenticated %}
        <div class="container mb-4 p-2">
            <h2 id="posts_view_head"></h2>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Post!" class="btn btn-outline-dark rounded-pill my-sm-2 mx-2 px-4">
            </form>
        </div>
    {% endif %}
    <div id="posts-view">
        {% if page_obj %}
            {% for post in page_obj %}
                <div class="container-md border border-gray rounded mb-2 width:50%">
                    <div class="row">
                        <a href="{% url 'profile' post.user.id %}" name="profile-button" class="btn btn-light rounded-2 font-weight-bold" id="profile-button">
                            {{ post.user }}
                        </a>
                        <p class="font-weight-light mx-2 mt-2">{{ post.timestamp }}</p>
                    </div>
                    <div class="row">
                        <p class="my-1 mx-2">{{ post.body }}</p>
                    </div>
                    <div class="row">
                        <p class="my-2 mx-4 align-middle">{{ post.likes.count }}
                            <input type="image" src="{% static 'network/liked.png' %}" name="like-button" style="width:48px" class="btn btn-outline-light rounded-2" id="like-button">
                            <input type="image" src="{% static 'network/unliked.png' %}" name="unlike-button" style="width:52px" class="btn btn-outline-light rounded-2" id="unlike-button">
                        </p>
                    </div>
                </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif%}
                </ul>
            </nav>
            <br><br><br><br><br><br><br><br>
        {% else %}
            <p>There are no posts yet.</p>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

<!-- Better pagination display, but not how the assignment asked for it, so leaving out and commented for future reference
<nav aria-label="Page navigation">   
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                </a>
            </li>   
        {% endif %}
        
        {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
                <li class="page-item active">
                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">end</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav> -->