{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if user.is_authenticated %}
        <div class="container mb-2 p-2">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h2 id="posts_view_head">{{ profile_user }}</h2>
                </div>
                <div class="col-auto ">
                    Following: {{ follower.following.count }}
                </div>
                <div class="col-auto ">
                    Followers: {{ profile_user.followers.count }}
                </div>
                {% if user != profile_user %}
                        <div class="col-auto ">
                            <form method="POST">
                                {% csrf_token %}
                                {% if is_following %}
                                    <input type="submit" class="btn btn-outline-primary rounded-pill" id="unfollow-button" name="unfollow-button" value="Unfollow">
                                {% else %}
                                    <input type="submit" class="btn btn-outline-primary rounded-pill" id="follow-button" name="follow-button" value="Follow">
                                {% endif %}
                            </form>
                    
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div id="posts-view">
        {% if page_obj %}
            {% for post in page_obj %}
                <div class="container-md border border-gray rounded mb-2 width:50%">
                    <div class="row">
                        <p class="font-weight-bold mx-2 mt-2">{{ post.user }}</p>
                        <p class="font-weight-light mx-2 mt-2">{{ post.timestamp }}</p>
                    </div>
                    <div class="row">
                        <p class="my-1 mx-2">{{ post.body }}</p>
                    </div>
                    <div class="row">
                        <p class="my-2 mx-4 align-middle">{{ post.likes.count }}
                            <input type="image" src="{% static 'network/liked.png' %}" name="like-button" style="width:48px" class="btn btn-outline-light rounded-2" id="like-button">
                            <input type="image" src="{% static 'network/unliked.png' %}" name="unlike-button" style="width:52px" class="btn btn-outline-light rounded-2" id="unlike-button">
                        </p>
                    </div>
                </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif%}
                </ul>
            </nav>
            <br><br><br><br><br><br><br><br>
        {% else %}
            <div class="container-md  mb-2 width:50%">
                <p>No posts yet.</p>
            </div> 
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}