{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if user.is_authenticated %}
        <div class="container mb-2 p-2">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h2 id="posts_view_head">{{ profile_user }}</h2>
                </div>
                <div class="col-auto ">
                    Following: {{ follower.following.count }}
                </div>
                <div class="col-auto ">
                    Followers: {{ profile_user.followers.count }}
                </div>
                {% if user != profile_user %}
                        <div class="col-auto ">
                            <form method="POST">
                                {% csrf_token %}
                                {% if is_following %}
                                    <input type="submit" class="btn btn-outline-dark rounded-pill" id="unfollow-button" name="unfollow-button" value="Unfollow">
                                {% else %}
                                    <input type="submit" class="btn btn-outline-dark rounded-pill" id="follow-button" name="follow-button" value="Follow">
                                {% endif %}
                            </form>
                        </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}