{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br>
    {% if user.is_authenticated %}
        <div class="row">
            {{ profile_user }}
        </div>
        <div class="row">
            .followers.all: {{ profile_user.followers.all }}
        </div>
        <div class="row">
            .id: {{ profile_user.id }} 
        </div>
        <div class="row">
            .username: {{ profile_user.username }}
        </div>
        <div class="row">
            user.id: {{ user.id }}
        </div>
        <div class="row">
            following bool: {{ following_bool }}
        </div>
        <div class="container mb-2 p-2">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h2 id="posts_view_head">{{ profile_user }}</h2>
                </div>
                <div class="col-auto ">
                    Following: {{ follower.following.count }}
                </div>
                <div class="col-auto ">
                    Followers: {{ profile_user.followers.count }}
                </div>
                {% if user != profile_user %}
                    {% if user not in profile_user.followers.all %}
                        <div class="col-auto ">
                            <input type="button" class="btn btn-outline-primary rounded-pill" id="follow-button" value="Follow">
                        </div>
                    {% else %}
                        <div class="col-auto ">
                            <input type="button" class="btn btn-outline-primary rounded-pill" id="unfollow-button" value="Unfollow">
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div id="posts-view">
        {% if posts %}
            {% for post in posts %}
                <div class="container-md border border-gray rounded mb-2 width:50%">
                    <div class="row">
                        <p class="font-weight-bold mx-2 mt-2">{{ post.user }}</p>
                        <p class="font-weight-light mx-2 mt-2">{{ post.timestamp }}</p>
                    </div>
                    <div class="row">
                        <p class="my-1 mx-2">{{ post.body }}</p>
                    </div>
                    <div class="row">
                        <p class="my-2 mx-4 align-middle">{{ post.likes.count }}
                            <input type="image" src="{% static 'network/liked.png' %}" name="like-button" style="width:48px" class="btn btn-outline-light rounded-2" id="like-button">
                            <input type="image" src="{% static 'network/unliked.png' %}" name="unlike-button" style="width:52px" class="btn btn-outline-light rounded-2" id="unlike-button">
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container-md  mb-2 width:50%">
                <p>No posts yet.</p>
            </div> 
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}