{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form method="POST">
        {% csrf_token %}
        <textarea id="listing_title" name="listing_title" class="form-control mx-auto mb-2" rows="1" placeholder="Title" required></textarea>
        <textarea id="description" name="description" class="form-control mx-auto mb-2" rows="8" placeholder="Description" required></textarea>
        <textarea id="starting_bid" name="starting_bid" class="form-control mx-auto mb-2" rows="1" placeholder="Starting Bid" required></textarea>
        <textarea id="image_url" name="image_url" class="form-control mx-auto mb-2" rows="1" placeholder="Image URL"></textarea>
        <textarea id="category" name="category" class="form-control mx-auto mb-2" rows="1" placeholder="Category"></textarea>
        <input type="submit" value="Save" class="btn btn-primary my-sm-2">
    </form>

{% endblock %}