{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

    <div class="container mb-2 p-2">
        <h2>Active Listings</h2>
    </div>
    {% if listings %}
        {% for listing in listings %}
            {% if listing.status == "open" %}
                <a href="{% url 'listing_view' listing.id %}">
                    <div class="container border border-gray rounded mb-4 p-2">
                        <div class="row">
                            <div class="col">
                                <img src="{{ listing.image_url }}" alt=" " class="border border-secondary rounded" style="height:250px">
                            </div> 
                            <div class="col">
                                <h2>{{ listing.listing_title }}</h2>
                                <h3>${{ listing.current_price | intcomma }}</h3>
                                <p>{{ listing.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no active listings.</p>
    {% endif %}

{% endblock %}