{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
    {{ listing.listing_title }}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container-fluid m-2">
            <div class="row m-2">
                <h1>{{ listing.listing_title }}</h1>
            </div>
            <div class="row m-2">
                <img class = "border border-secondary rounded" src="{{ listing.image_url }}" alt="No Image" style="height:500px">
            </div>
            <div class="row m-2">
                <form method="POST">
                    {% csrf_token %}
                    {% if button_type == "add" %}
                        <input type="submit" id="watchlist_button" name="watchlist_button" value="Add to watchlist" class="btn btn-primary">
                    {% else %}
                        <input type="submit" id="watchlist_button" name="rm_watchlist_button" value="Remove from watchlist" class="btn btn-primary">
                    {% endif %}
                </form>
            </div>
            <hr>
            <div class="row m-2">
                <p>{{ listing.description }}</p>
            </div>
            <div class="row m-2">
                <h3>${{ listing.current_price | intcomma }}</h3>
            </div>
            <div class="row m-2">
                <form class="form-inline mx-2" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" id="bid_form" name="bid_form" value="Place Bid" class="btn btn-primary mx-2">
                </form>
            </div>
            <div class="row m-2">
                <h5>Details</h5>
            </div>
            <div class="row m-2">
                <ul>
                    <li>Listed by {{ listing.user }}</li>
                    <li>Category: <a href="{% url 'category_view' category.id %}">{{ listing.category }}</a></li>
                    <li>Listing id: {{ listing.id }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <h1>Please log in or register.</h1>
    {% endif %}

{% endblock %}
