{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
    {{ listing.listing_title }}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container-fluid m-2">
            {% if listing.status == "closed" %}
                <div class="row m-2 p-2" style="background-color:darkorchid; color:white;">
                    <h2>This listing is closed.</h2>
                </div>
            {% endif %}
            <div class="row m-2">
                <h1>{{ listing.listing_title }}</h1>
            </div>
            <div class="row m-2">
                <img class = "border border-secondary rounded" src="{{ listing.image_url }}" alt="No Image" style="height:500px">
            </div>
            {% if user != listing.user %}
                <div class="row m-2">
                    
                        <form method="POST">
                            {% csrf_token %}
                            {% if watchlist_button == "add" %}
                                <input type="submit" id="watchlist_button" name="watchlist_button" value="Add to watchlist" class="btn btn-primary">
                            {% else %}
                                <input type="submit" id="rm_watchlist_button" name="rm_watchlist_button" value="Remove from watchlist" class="btn btn-primary">
                            {% endif %}
                        </form>
                </div>
            {% endif %}
            <hr>
            <div class="row my-2 mx-4">
                <p>{{ listing.description }}</p>
            </div>
            <div class="row my-2 mx-4">
                <h3>${{ listing.current_price | intcomma }}</h3>
            </div>
            <div class="row my-2 mx-4">
                {% if user == listing.user %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" id="close_button" name="close_button" value="Close Auction" class="btn btn-primary">
                    </form>
                {% else%}
                    <form class="form-inline mx-2" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" id="bid_form" name="bid_form" value="Place Bid" class="btn btn-primary mx-2">
                    </form>
                {% endif %}
            </div>
            <div class="row mt-4 mx-4">
                <h5>Details</h5>
            </div>
            <div class="row my-2 mx-4">
                <ul>
                    <li>Category: <a href="{% url 'category_view' category.id %}">{{ listing.category }}</a></li>
                    <li>Number of bids: {{ bid_count }}</li>
                    <li>Listed by {{ listing.user }}</li>
                    <li>Listing id: {{ listing.id }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        <h1>Please log in or register.</h1>
    {% endif %}

{% endblock %}
