{% extends "auctions/layout.html" %}

{% block title %}

{% endblock %}

{% block body %}

    <h1>{{ listing.listing_title}}</h1>
    
    <div class="container">
        <div class="row m-2">
            <img class = "border border-secondary rounded" src="{{ listing.image_url }}" alt="No Image" style="width:50%">
        </div>
        <div class="row m-2">
            <p>{{ listing.description }}</p>
        </div>
        <div class="row m-2">
            <h3>${{ listing.starting_bid }}</h3>
        </div>
        <div class="row m-2">
            <h5>Details</h5>
        </div>
        <div class="row m-2">
            <ul>
                <li>Listed by {{ listing.user }}</li>
                <li>Category: <a href="{% url 'categories' %}">{{ listing.category }}</a></li>
                <li>Listing id: {{ listing.id }}</li>
            </ul>
        </div>
    </div>

{% endblock %}
