{% extends "encyclopedia/layout.html" %}

{% block title %}
    create
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>

    <form method="POST">
        <textarea id="createTitle" name="createTitle" class="form-control mx-auto mb-2" rows="1" placeholder="Title" required></textarea>
        <textarea id="createBody" name="createBody" class="form-control mx-auto mb-2" rows="24" placeholder="Body" required></textarea>
        <input type="submit" value="Save" class="btn btn-primary my-sm-2">
    </form>

{% endblock %}