{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>
    
    
    <a href="{% url 'encyclopedia:index' %}">index</a>

{% endblock %}

<!-- <a href="{% url 'entry' %}">{{ entry }}</a> -->
<!-- <a href="/wiki/Python">Python</a> -->
<!-- <a href="{% url 'entries/Python' %}">Python</a> -->
<!-- <a href="{% url 'encyclopedia:entry' %}">{{ entry }}</a> -->