{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row ml-sm-2">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form action="{% url 'encyclopedia:search' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" class="button btn-light my-sm-2">
                </form>
                <br>
                <div>
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:create' %}">New Page</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:edit' %}">Edit Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="col mr-4 ml-2">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>